
//center the content
.containers {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
//background linear gradient
body {
  // background: linear-gradient(45deg, #f3f3f3, #f3f3f3);

  //background image
  background: linear-gradient(#e66465, #9198e5);
}

